
table {
    border: 10px solid;
    border-collapse: separate;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
  }

  thead {
    background-color: rgb(122, 59, 59);
    border: 1px;
    text-align: left;
  }
  tr:nth-child(even) {background-color: tan;}

 tbody tr:hover {background-color: rgb(184, 186, 205);}

  th, td {
    padding: 12px 15px;
  }

  tbody {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(14, 73, 9);
  }
  body{
    background-color: rgb(190, 163, 41);
  }
